/* **************** GRIDS ***************** */
.line, .lastUnit {overflow: hidden;_overflow:visible;_zoom:1; }
.unit{float:left;_zoom:1;}
.unitExt{float:right;}
.size1of1{float:none;border:1px #000000 solid;margin:10px;height:70px;}
.size1of2{width:50%;border:1px #000000 solid;margin:5px 10px 5px 10px;height:275px;}
.size1of3{width:33.33333%;/*border:1px #fff solid*/height:68px;margin:3px 2px 3px 2px;}
.size2of3{width:66.66666%;border:1px #000000 solid;}
.size1of4{width:25%;border:1px #000000 solid;}
.size3of4{width:75%;border:1px #000000 solid;}
.size1of5{width:20%;border:1px #000000 solid;margin:5px;height:275px;}
.size2of5{width:40%;border:1px #000000 solid;}
.size3of5{width:60%;border:1px #000000 solid;}
.size4of5{width:80%;border:1px #000000 solid;padding:0px 0px 0px 20px;}
.lastUnit {float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;/*border:1px #fff solid;*/}

/* extending grids to allow a unit that takes the width of its content */
.media{width:auto;}
.newSize{float:none;height:146px;width:92%;border:1px #000000 solid;margin:10px;padding:1px;}
.msgSize{float:none;height:162px;width:95%;border:1px #000000 solid;margin:5px;}
.voltage_box {float:none;height:30px;width:95%;border:1px #000000 solid;margin:5px ;}
.chatSize {float:none;height:280px;width:95%;border:1px #000000 solid;margin:0px 5px 5px 5px ;overflow:auto;}
.canvasSize{float:none;border:1px #000000 solid;height:295px;width:285px;padding:5px;}
